<div class="container-fluid" style="background: #eeeeee">
  <div class="row">
    <div class="container">
      <form class="d-flex">
        <div class="form-group">
          <input class="search-input form-control me-2" id="searchName" #nameSearch type="search" placeholder="Họ tên.."
                 aria-label="Search">
        </div>
        <div class="form-group">
          <input class="search-input form-control me-2" id="phoneNumberSearch" #phoneNumberSearch type="search"
                 placeholder="Số điện thoại..."
                 aria-label="Search">
        </div>
        <div class="form-group">
          <select class="search-input form-control" name="addressSearch" id="addressSearch" #addressSearch>
            <option value="">Chọn địa chỉ</option>
            <option *ngFor="let address of addressList"
                    [ngValue]="address">{{address}}</option>
          </select>
        </div>
        <div class="form-group">
          <button class="btn-search btn btn-secondary"
                  (click)="getAllPatients(nameSearch.value, addressSearch.value, phoneNumberSearch.value)"
                  type="submit">
            <i class="fa fa-search"></i>
          </button>
        </div>
      </form>
    </div>
  </div>
  <div class="row">
    <table id="example" class="table table-bordered table-hover">
      <thead class="bg-dark text-white">
      <tr>
        <th>#</th>
        <th>Họ Tên</th>
        <th>Số Điện Thoại</th>
        <th>Địa Chỉ</th>
        <th>Năm Sinh</th>
        <th>Giới Tính</th>
        <th>Cân Nặng</th>
        <th>Chiều Cao</th>
        <th>Ngày tạo</th>
        <th>Khác</th>
      </tr>
      </thead>
      <ng-container *ngIf="messageError != ''; else elseBlock">
        <tbody>
        <tr>
          <td colspan="7" class="text-center">
            <span class="text-danger">{{messageError}}</span>
          </td>
        </tr>
        </tbody>
      </ng-container>
      <ng-template #elseBlock>
        <tbody>
        <tr *ngFor="let patient of patients |  slice: (page-1) * pageSize : page * pageSize ;index as i">
          <td style="width: 5%">{{i + 1}}</td>
          <td>
            <a [routerLink]="['/histories/new',patient.id]" class="mr-2 text-decoration-none">
             {{patient.name}}</a>
          </td>
          <td>{{patient.phoneNumber}}</td>
          <td>{{patient.address}}</td>
          <td>{{patient.yearOfBirth}}</td>
          <td>{{patient.gender}}</td>
          <td>{{patient.weight}}kg</td>
          <td>{{patient.height}}cm</td>
          <td>{{patient.createdDate | date: 'dd/MM/yyyy'}}</td>
          <td>
            <a [routerLink]="['/histories/new',patient.id]" class="mr-2">
              <i class="fa fa-pencil text-dark" aria-hidden="true"></i></a>
            <a href="" class="text-dark" data-toggle="modal" data-target="#exampleModal"
               (click)="sendIdToComponent(patient.id)"><i class="fa fa-times" aria-hidden="true"></i></a>
          </td>
        </tr>
        </tbody>
      </ng-template>
    </table>
    <div class="clearfix d-flex">
      <ngb-pagination class="d-flex justify-content-end"
                      [(page)]="page"
                      [pageSize]="pageSize"
                      [collectionSize]="collectionSize"
                      [maxSize]="5"
                      [rotate]="true"
                      [ellipses]="true"
                      [boundaryLinks]="true">
        <ng-template ngbPaginationEllipsis>...</ng-template>
        <ng-template ngbPaginationNumber let-page>{{ page }}</ng-template>
      </ngb-pagination>
    </div>
  </div>
</div>

<!--delete modal-->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header bg-danger">
        <h4 class="modal-title w-100 text-center text-white" id="exampleModalLabel">Xóa Bệnh Nhân </h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Bạn có chắc chắn muốn xóa <span
          style
            ="color: red">{{patientDelete}}</span>?</p>
      </div>
      <div
        class
          ="modal-footer">
        <button
          type
            ="button" class="btn btn-secondary" data-dismiss="modal">Hủy bỏ
        </button>
        <button type="button" class="btn btn-danger" (click)="deletePatient()" data-dismiss="modal">
          Xóa
        </button>
      </div>
    </div>
  </div>
</div>
<ngx-bootstrap-spinner
  bdColor="rgba(51,51,51,0.8)"
  size="default"
  color="#fff"
  type="border"
  loadingText="Đang tải dữ liệu..."
>
</ngx-bootstrap-spinner>

