<footer>
  <div class="footer" id="footer">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
          <h4> Phòng Khám Nhi Khoa </h4>
        </div>
        <div class="col-lg-3 col-sm-2 col-xs-3">
          <h3> Liên hệ </h3>
          <ul>
            <li><a class="email" href="#"> 0333571576 </a></li>
            <br/>
            <li><p> Đại An, Đại Lộc, Quảng Nam </p></li>
          </ul>
        </div>
        <div class="col-lg-3 col-sm-2 col-xs-3">
          <ul>
            <li><h5><a href="#" style="margin-top: 5em"> GIỚI THIỆU</a></h5></li>
            <li><h5><a href="#"> THỰC PHẨM CHỨC NĂNG </a></h5></li>
            <li><h5><a href="#"> BLOG </a></h5></li>
          </ul>
        </div>

        <!--/.row-->
      </div>
      <!--/.container-->
    </div>
    <!--/.footer-->

    <div class="footer-bottom">
      <div class="container">
        <p class="pull-left copyright"> Copyright © phongkhamnhikhoa.com. </p>

      </div>
    </div>
    <!--/.footer-bottom-->
  </div>
</footer>
